.idea/
*.iml
**/target
logs/
*.tgr
**/kob-testsuite-feature-bundle*.zip
**/kob-testsuite-test-report*.zip

jenkinsfiles
update-version.sh
**/kob-testsuite-feature-bundle*.zip
**/kob-testsuite-test-report*.zip

